.vscode/**
.vscode-test/**
.github/**
.pnpm-store/**
out/**
node_modules/**
!node_modules/.pnpm/
!node_modules/.pnpm/@types+node@*/**
!node_modules/.pnpm/bun-types@*/**
!node_modules/.pnpm/inject-d-ts-tsserver-plugin@*/**
!node_modules/.pnpm/undici-types@*/**
!node_modules/@isaacs/**
!node_modules/@pkgjs/**
!node_modules/@types/
!node_modules/@types/node/**
!node_modules/bun-types/**
!node_modules/chownr/**
!node_modules/inject-d-ts-tsserver-plugin/**
!node_modules/minipass/**
!node_modules/minizlib/**
!node_modules/mkdirp/**
!node_modules/semver/**
!node_modules/tar/**
!node_modules/undici-types/**
!node_modules/yallist/**
src/**
.artifacts/**
.gitignore
.yarnrc
pnpm-lock.yaml
pnpm-workspace.yaml
scripts/**
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
